<div class="text-left flex m-1 mb-3 p-2 bg-mantle border border-crust">
    <div class="text-sm">
        <img hidden class="w-32" src="{{pin.video.thumbnail_url}}" alt="">
    </div>
    <div class="p-1">
        <div class="font-semibold text-subtext1 text-sm"> 
            <span hidden class="text-subtext1">&#40;{{pin.video.duration}}&#41</span>
            <span class="text-blue">{{pin.video.title|truncatechars:35}}</span>
             de CANAL - {{pin.video.duration}}
        </div>
        {% if not user %}
        <div class="text-subtext1 text-sm">
            pinado por <span class="font-semibold hover:text-mauve"><a href="{% url 'read user' pin.user.id %}">@{{pin.user}}</a></span>
        </div>
        {% endif %}
        <p class="text-overlay2">{{pin.text|truncatechars:270}}</p>

        <a class="simple-btn underline" href="{% url 'read pin' pin.id %}">Open</a>
        {% if request.user == pin.user %}
        - <a class="simple-btn" href="{% url 'update pin' pin.id %}">Edit</a> -
        <form class="inline" action="{% url 'delete pin' pin.id %}" method="post">
            {% csrf_token %}
            <input class="simple-btn" type="submit" value="Delete">
        </form>
        {% endif %}
    </div>
</div>