{% extends 'core/main.html' %}
{% load static %}

{% block title %}YuPi{% endblock title %}

{% block content %}

<main class="m-auto w-7/12 text-center">

    {% if request.user.is_authenticated %}
    <span class="text-3xl font-semibold text-subtext1">Adicione um pin!</span>
    <form class="mb-10" id="pin_hp_form" action="{% url 'create pin' %}" method="post">
        {% csrf_token %}
        <input class="
            text-4xl rounded bg-crust placeholder-subtext0 text-mauve 
            simple-focus
        " placeholder=" video id" name="video_id" type="text"> <br>
        <input hidden name="home" value="home!">


        <div onclick="parseUrlAndSubmit('pin_hp_form')" class=" 
            w-min m-auto py-2 px-4 mt-2 rounded cursor-pointer bg-lavender hover:bg-blue transition text-base font-semibold
        "> Enviar </div>
    </form>
    {% endif %}

    <div class="mt-24">
        <h2 class="text-3xl text-subtext1 font-semibold mb-3">Últimos pins da comunidade</h2>

        {% for pin in pins %}
        {% comment %} <div class="text-left flex m-1 mb-3 p-2 bg-mantle border border-crust">
            <div class="text-sm">
                <img hidden class="w-32" src="{{pin.video.thumbnail_url}}" alt="">
            </div>
            <div class="p-1">
                <div class="font-semibold text-subtext1 text-sm"> 
                    <span hidden class="text-subtext1">&#40;{{pin.video.duration}}&#41</span>
                    <span class="text-blue">{{pin.video.title|truncatechars:35}}</span>
                     de CANAL - {{pin.video.duration}}
                </div>
                <div class="text-subtext1 text-sm">
                    pinado por <span class="font-semibold hover:text-mauve"><a href="{% url 'read user' pin.user.id %}">@{{pin.user}}</a></span>
                </div>
                <p class="text-overlay2">{{pin.text}}</p>
            </div>
        </div> {% endcomment %}
        {% include 'core/commons/pin.html' %}
        {% endfor %}
    </div>

</main>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/parse_url_and_submit.js' %}"></script>
{% endblock scripts %}