{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block links %}
    <link rel="stylesheet" href="{% static 'core/tailwind_output.css' %}">
    {% endblock links %}
</head>
<body class="bg-base text-text dark:mocha">
    {% include 'core/topbar.html' %}
    {% block content %}{% endblock content %}
    {% include 'core/footer.html' %}
</body>
</html>