<div class="bg-mantle grid grid-cols-3 items-center py-1 px-10">
    <a class="font-extrabold w-min" href="{% url 'home' %}">Yupi</a>

    <div>
        <form class="flex justify-center" action="{% url 'search user' %}" method="post">
            {% csrf_token %} 
            <input class="
                h-8 rounded-lg p-0.5 
                bg-crust border-2 border-base 
                placeholder-text text-center caret-mauve text-mauve
                simple-focus
            " type="text" name="usernamequery" id="" placeholder="search user">
        </form>
    </div>

    <div class="flex justify-end">
        {% if request.user.is_authenticated %}
        
        <a hidden href="{% url 'create pin' %}">Novo pin</a>
        
        
        
        <a class="text-pink font-bold mr-3" href="{% url 'profile' %}">
            @{{request.user}}
        </a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input class="simple-btn" type="submit" value="logout">
        </form>
        {% else %}

        <a href="{% url 'login' %}" class="mr-3 simple-btn">login</a>
        <a href="{% url 'register' %}" class="simple-btn">registrar</a>
        {% endif %}
    </div>
</div>