<div class="bg-mantle grid grid-cols-3 py-3 px-10">
    <a class="font-extrabold" href="{% url 'home' %}">Yupi</a>

    <div>
        <form class="flex justify-center" action="{% url 'search user' %}" method="post">
            {% csrf_token %} 
            <input class="rounded p-0.5 bg-mantle border border-base placeholder-mauve text-center" type="text" name="usernamequery" id="" placeholder="search user">
        </form>
    </div>

    <div class="flex justify-end">
        {% if request.user.is_authenticated %}
        
        <a hidden href="{% url 'create pin' %}">Novo pin</a>
        
        
        
        <a class="text-pink font-bold" href="{% url 'profile' %}">
            @{{request.user}}
        </a>&nbsp-&nbsp
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input class="cursor-pointer" type="submit" value="logout">
        </form>
        {% else %}

        <a href="{% url 'login' %}" class="text-pink">login</a>
        <a href="{% url 'register' %}">registrar</a>
        {% endif %}
    </div>
</div>