<div>
    <a href="{% url 'home' %}">home</a>
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="logout">
    </form>
    
    voce esta logado como <a href="{% url 'profile' %}">{{request.user}}</a>!
    <div>
        <a href="{% url 'create pin' %}">Novo pin</a>
    </div>
    {% else %}
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'register' %}">registrar</a>
    {% endif %}
    <form action="{% url 'search user' %}" method="post">
        {% csrf_token %} 
        <input type="text" name="usernamequery" id="" placeholder="search user">
    </form>
</div>