{% extends 'core/main.html' %}

{% block content %}

<main class="m-auto w-7/12">
    <header class="flex mx-auto w-max">
        <div class="bg-pink-600 size-24 mr-6 rounded-full">

        </div>
        <div>
            <div class="text-3xl font-semibold">{{user}}</div>
            {{user.pin_set.all.count}} pins
            <p class="text-subtext1 text-sm">{{user.bio}}</p>
            {% if user.location %}
            <p>lugar: {{user.location}}</p>
            {% endif %}
        </div>
    </header>

    {% if user.pin_set.all %}
    <h2 class="text-2xl font-medium mt-10 text-center">Pins desse usuário</h2>
    {% for pin in user.pin_set.all %}
    {% include 'core/commons/pin.html' %}
    {% endfor %}
    {% else %}
    <h2 class="text-center mt-10 text-lg">O usuário não tem pins</h2>
{% endif %}

</main>

{% endblock content %}
